@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/* General settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #348888;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .DivImgTelaCadastro{
    width: 1137px;
    height: 772px;
    border-radius: 50px;
    background-color: white;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.imgTelaCadastro {
    width: 442px;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}

.Titulo {
    width: 575px;
    height: 61px;
    color: #38535F;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
