
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/* Configurações gerais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}


.secao_formulario_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #f5f5f5;
    font-family: 'Rubik', sans-serif;
}

.secao_formulario_cadastro p {
    font-family:'Abhaya Libre', serif;
    font-size: 30px;
}

.formularioDeCadastro {
    background-color: #252A34;
    border-radius: 65px;
    padding: 2rem;
    width: 50vw;
}

.form_input_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    justify-content: space-between;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px; /* Espaço entre as linhas */
    padding: 10px;
}

.input_box input {
    background-color: transparent;
    border-color: #08D9D6;
    border-style: solid;
    border-width: 0.02px;
    border-radius: .6rem;
    height: 24px;
    margin-top: 4px;
    padding: 18px 15px;
    color: whitesmoke;
    font-size: 15px;

}

.input_box input::-webkit-calendar-picker-indicator {
    color: #08D9D6;
   
}

input::placeholder,
textarea::placeholder {
  color: #999; /* Defina a cor desejada para o marcador de posição */
}
